{{ define "inicio"}} {{ template "cabecera"}}

<h1>Tabla de Ejemplo</h1>
<a href="/crear">Agregar empleado</a>
<!-- Tabla básica -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#ID</th>
      <th>Nombre:</th>
      <th>Correo:</th>
      <th>Acciones:</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Name}}</td>
      <td>{{.Email}}</td>
      <td>
        <!-- Botón de editar -->
        <a href="/editar?id={{.ID}}" class="btn btn-warning">Editar</a>

        <!-- Botón de borrar -->
        <a
          href="/borrar?id={{.ID}}"
          class="btn btn-danger"
          onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');"
          >Borrar</a
        >
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

{{ template "pie"}} {{end}}
